
@model QuestEngine.ViewModels.AdminResultViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

IsOk: @Model.IsOk
<br/>
Error: @Model.Error
<br/>
ProgressCount: @Model.ProgressCount
<br/>
StatisticsCount: @Model.StatisticsCount

